body{
    background-color: #e2b6ad;
    margin: 0;
    padding: 0;
}

/* links */
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

/* navigation bar */
#navbar{
    background-color: #826458;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logo{
    height: 80px;
    width: 115px;
    margin-left: 15px;
}

#buttons{
    width: 85%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.buttonText{
    text-align: center;
    margin-top: 30px;
}

#aboutMe{
    background-color: #826458;
    width: 13%;
    height: 80px;
    margin-right: 15px;
}

#projects{
    background-color: #826458;
    width: 13%;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

#contactMe{
    background-color: #826458;
    width: 13%;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

#languageSwitch{
    border-radius: 50px;
    background-color: #826458;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.projectMainScreen{
    background-color: #826458;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.projectMainImg{
    width: 100vw;
    height: 100%;
}

.projectTitleText{
    font-size: 175%;
    position: absolute;
}

.projectTitles{
    text-align: center;
    padding: 2%;
    margin: 2%;
}

/* lvl design */

#lvlDesignContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "lvlDesignFullImg lvlDesignFullImg lvlDesignFullImg lvlDesignFullImg"
            ". lvlDesignMainText  lvlDesignMainText ."
            ". lvlDesignImgLayout lvlDesignImgLayout ."
            ". lvlDesignFirstLvl  lvlDesignFirstLvl ."
            "lvlDesignFirstLvlImg . lvlDesignFirstLvlImg2 ."
            ". lvlDesignSecondLvl lvlDesignSecondLvl ."
            ". lvlDesignSecondLvlImg . lvlDesignSecondLvlImg2"
            ". lvlDesignThirdLvl lvlDesignThirdLvl  ."
            "lvlDesignThirdLvlImg . lvlDesignThirdLvlImg2 ."
}

#lvlDesignContainer #lvlDesignMainImg{
    grid-area: lvlDesignFullImg;
    margin-bottom: 2%;
}

#lvlDesignContainer #lvlDesignTextMain{
    grid-area: lvlDesignMainText;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #c89b99;
    border-radius: 20px;
}

#lvlDesignContainer #lvlDesignLayout{
    grid-area: lvlDesignImgLayout;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}

#lvlDesignContainer #lvlDesignFirstLvl{
    grid-area: lvlDesignFirstLvl;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #c89b99;
    border-radius: 20px;
}

#lvlDesignContainer #lvlDesignFirstLvlImg{
    grid-area: lvlDesignFirstLvlImg;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}

#lvlDesignContainer #lvlDesignFirstLvlImg2{
    grid-area: lvlDesignFirstLvlImg2;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}

#lvlDesignContainer #lvlDesignSecondLvl{
    grid-area: lvlDesignSecondLvl;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #c89b99;
    border-radius: 20px;
}

#lvlDesignContainer #lvlDesignSecondLvlImg{
    grid-area: lvlDesignSecondLvlImg;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}

#lvlDesignContainer #lvlDesignSecondLvlImg2{
    grid-area: lvlDesignSecondLvlImg2;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}

#lvlDesignContainer #lvlDesignThirdLvl{
    grid-area: lvlDesignThirdLvl;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #c89b99;
    border-radius: 20px;
}

#lvlDesignContainer #lvlDesignThirdLvlImg{
    grid-area: lvlDesignThirdLvlImg;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}

#lvlDesignContainer #lvlDesignThirdLvlImg2{
    grid-area: lvlDesignThirdLvlImg2;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}

/* webshop */

#JsTestContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
            "JSTestFullImg JSTestFullImg JSTestFullImg JSTestFullImg JSTestFullImg"
            ". JSTestText JSTestText JSTestText ."
            ". JSTestFull JSTestFull JSTestFull ."
}

#JsTestContainer #JSTestImg{
    grid-area: JSTestFullImg;
    margin-bottom: 2%;
}

#JsTestContainer #JSTestText{
    grid-area: JSTestText;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #c89b99;
    border-radius: 20px;
}

#JsTestContainer #JSTestFullTest{
    grid-area: JSTestFull;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #c89b99;
    border-radius: 20px;
}

/* Project Play */

#projectPlayContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "ProjectPlayFullImg ProjectPlayFullImg ProjectPlayFullImg ProjectPlayFullImg ProjectPlayFullImg"
            ". projectPlayMainText projectPlayMainText projectPlayMainText ."
            ". projectPlayText projectPlayText projectPlayText ."
            ". projectPlayGame projectPlayGame projectPlayGame ."
}

#projectPlayContainer #projectPlayMainImg{
    grid-area: ProjectPlayFullImg;
    margin-bottom: 2%;
}

#projectPlayContainer #projectPlayMainText{
    grid-area: projectPlayMainText;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #c89b99;
    border-radius: 20px;
}

#projectPlayContainer #projectPlayText{
    grid-area: projectPlayText;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #c89b99;
    border-radius: 20px;
}

#projectPlayContainer #projectPlayGame{
    grid-area: projectPlayGame;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}